{% extends "adminlayout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6">
            <p style="color: black;"> Administrators play a critical role in businesses, with their responsibilities varying across industries, 
            and including tasks such as managing an office, fielding inquiries, overseeing office inventory, scheduling meetings and supervising other administrative personnel.A career in administration is a great option for anyone who wants a secure, rewarding, and versatile job with good pay and opportunities for advancement.An administrator is a person whose job involves helping to organize and supervise the way that an organization or institution functions</p>

        </div>
    </div>
</div>

{% endblock %}