{% extends "adminlayout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="row">
    
    <div class="col-sm-12 p-4 overflow-scroll">
        <h3 style="color: black;" class="alert bg-info text-center">Admin page</h3>
        <table class="table">
            <thead>
                <th>UserName</th>
                <th>Email</th>
                <th>password</th>
                <th>phno</th>
                <th>desig</th>
            </thead>
            {% for user in users %}
            <tr>
                <form action="/modify">
                    <td>
                        <input class="form-control" name="username" type="text" value=" {{user.username}}">
                        
                    </td>
                    <td>
                        <input class="form-control"  type="text" value="{{user.email}}" name="email" >
                    </td>
                    <td>
                        <input class="form-control" type="text" value="{{user.password}}" name="password">
                    </td>
                    <td>
                        <input class="form-control" type="text" value="{{user.phno}}" name="phno">
                    </td>
                    <td>
                        <input class="form-control" type="text" value="{{user.desig}}" name="desig">
                    </td>
                    <td>
                        <button class="btn btn-primary" value="update" type="submit" name="operation">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" value="delete" type="submit" name="operation">Delete</button>
                    </td>
                </form>
                
            </tr>
            {% endfor %}
        </table>
        
    </div>
</div>

</div>
{% endblock %}