.red{
    background-color:rgb(102, 228, 228);
    color: black;
    text-align: center;
    font-family: Agency FB;
}

.green{
    background-color: #00ff7b;
    color: white;
}

.blue{
    background-color: rgb(57, 47, 163);
    color: white;
}